<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - MyAspNetApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header style="background-color: navy; color: white; padding:10px;">
        <h2>MyAspNetApp — CI/CD Demo</h2>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer style="background-color: #eee; padding:10px;">
        <p>&copy; 2026 - MyAspNetApp | CI/CD Demo</p>
    </footer>
</body>
</html>